.ml12 {
  font-weight: 200;
  font-size: 1.3em;
  color: rgb(243, 238, 189);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: relative;
  top: 700px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
  z-index: 100;
  display:block;
  white-space: pre-wrap;
  opacity: 0;

}


.ml12quote {
  font-weight: 200;
  font-size: 1.3em;
  color: rgb(243, 238, 189);
  letter-spacing: 0.35em;
  word-spacing: 0.2em;
  position: relative;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 100;
  display:block;
  word-wrap: break-word;
  width: 50%;
  opacity: 0;
  white-space: pre-wrap;

}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}